<div class="contents">
  <div class="contents-wrapper">
    <div class="now-stages">
      <p>上映中の舞台</p>
      <div class="stages content">
        <% @stages.each do |stage| %>
          <%= link_to stage_path(stage.id) do %>
            <div class="stage opacity">
              <%= image_tag("#{stage.image}") %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="more-btn">
        もっと見る
      </div>
    </div>
  </div>
</div>
<div class="contents gray">
  <div class="contents-wrapper">
    <div class="now-stages">
      <p>最近投稿されたレビュー</p>
      <div class="reviews content">
        <div class="review opacity">
          <img src="assets/dog.JPG" width="300px" height="250px">
        </div>
        <div class="review">
          <img src="assets/dog.JPG" width="300px" height="250px">
        </div>
        <div class="review">
          <img src="assets/dog.JPG" width="300px" height="250px">
        </div>
      </div>
      <div class="more-btn">
        もっと見る
      </div>
    </div>
  </div>
</div>
<div class="contents">
  <div class="contents-wrapper">
    <div class="now-stages">
      <p>劇団一覧</p>
      <div class="theatrecompanies content">
        <% @theatrecompanies.each do |theatrecompany| %>
          <%= link_to theatrecompany_path(theatrecompany.id) do %>
            <div class="theatre-company opacity">
              <%= image_tag("#{theatrecompany.image}") %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="more-btn">
        もっと見る
      </div>
    </div>
  </div>
</div>
<div class="contents gray">
  <div class="contents-wrapper">
      <div class="now-stages">
        <p>人気のユーザー</p>
        <div class="users content">
          <% @users.each do |user| %>
            <%= link_to user_path(user.id) do %>
              <div class="user opacity">
                <%= image_tag("#{user.image}") %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="more-btn">
          もっと見る
        </div>
      </div>
    </div>
  </div>
</div>
