<div class="user-page">
  <div class="user-page-wrapper">
    <div class="user-data">
      <div class="image">
        <%= image_tag "#{@user.image}" %>
      </div>
      <div class="explanation">
        <span class="username"><%= @user.name %></span>
        <span class="userid">@<%= @user.username %></span>
        <p class="caption"><%= @user.caption %></p>
      </div>
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to edit_user_path(current_user.id) do %>
          <p class="profile-btn edit">プロフィール編集</p>
        <% end %>
      <% elsif user_signed_in? %>
        <p class="profile-btn edit">
          <%= render 'relationships/follow', user: @user %>
        </p>
      <% end %>
      <div class="regist-theatre-company-right">
        <% @theatrecompanies.each_with_index do |theatrecompany, index| %>
          <%= link_to theatrecompany.name, theatrecompany_path(theatrecompany.id), class: "belongs-link"%>
          <% if index < (@theatrecompanies.length - 1) %>
          、
          <% end %>
        <% end %>
        所属<br>
        <%= link_to '劇団を登録する', new_theatrecompany_path, class: "regist-link" %>
      </div>
    </div>
  </div>
</div>