劇団登録ページ
<%= form_with model: @theatrecompany, url: theatrecompanies_path, local: true do |f| %>
  <p>劇団名</p>
  <%= f.text_field :name %>
  <p>劇団名かな</p>
  <%= f.text_field :name_kana %>
  <p>郵便番号</p>
  <%= f.text_field :postal_code %>
  <p>都道府県</p>
  <%= f.text_field :prefecture %>
  <p>市町村番地</p>
  <%= f.text_field :address %>
  <p>ホームページ</p>
  <%= f.text_field :website %>
  <p>設立年</p>
  <%= f.select :establish, [1,2,3,4,5] %>
  <p>メンバー</p>
  <%= f.text_field :member %>
  <p>紹介文</p>
  <%= f.text_field :profile %>
  <p>問い合わせ</p>
  <%= f.text_field :contact %>
  <%= f.submit %>
<% end %>