<div class="theatrecompany-show">
  <div class="theatrecompany-data">
    <div class="theatrecompany-image">
      <%= image_tag "#{@theatrecompany.image}" %>
    </div>
    <div class="explanation">
      <span class="username"><%= @theatrecompany.name %></span>
      <p class="caption"><%= @theatrecompany.profile %></p>
    </div>
    <%= link_to edit_theatrecompany_path(@theatrecompany.id) do %>
      <p class="profile-btn edit">編集</p>
    <% end %>
    <div class="regist-theatre-company-right">
        <%= link_to '公演を登録する', new_stage_path, class: "regist-link" %>
    </div>
  </div>
  <div class="contents-wrapper">
    <div class="title-wrapper">
      <p class="title">
        公演
        <span class="title-all"><i class="fa fa-caret-right" aria-hidden="true"></i>すべて見る</span>
      </p>
    </div>
    <%= link_to stage_path(@stage.id) do %>
      <div class="performance">
        <%= image_tag "#{@stage.image}" %>
        <div class="performance-detail">
          <p class="performance-title"><%= @stage.title %></p>
          <p><%= @stage.theatre_company.name %></p>
          <p><%= @stage.theater %></p>
          <p><%= @stage.startperiod %> ~ <%= @stage.lastperiod %></p>
          <p>¥ <%= @stage.lowestprice %> ~ <%= @stage.highestprice %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="contents-wrapper">
    <div class="title-wrapper">
      <p class="title">
        所属メンバー
        <span class="title-all"><i class="fa fa-caret-right" aria-hidden="true"></i>すべて見る</span>
      </p>
    </div>
    <div class="members">
      <div class="member">
        <%= image_tag "#{@theatrecompany.founder.image}" %>
        <br>
        <%= link_to @theatrecompany.founder.name, user_path(@theatrecompany.founder.id) %>
      </div>
      <div class="member">
        <%= image_tag "#{@theatrecompany.founder.image}" %>
        <br>
        <%= link_to @theatrecompany.founder.name, user_path(@theatrecompany.founder.id) %>
      </div>
      <div class="member">
        <%= image_tag "#{@theatrecompany.founder.image}" %>
        <br>
        <%= link_to @theatrecompany.founder.name, user_path(@theatrecompany.founder.id) %>
      </div>
    </div>
  </div>
</div>